.clients {
  padding: 0;
  margin: 0;
  color: $decoration-color;
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  @media screen and(min-width: 1200px) {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-top: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients__link {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);

  color: $social-color;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 170px; */
  height: 90px;
  border: 1px solid;
  border-radius: 4px;

  max-width: 100%;

  &:focus,
  &:hover {
    color: $decoration-color;
  }

  /* @media screen and(min-width: 768px) {
    max-width: 100%;
  } */
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    flex-basis: calc(100% / 3 - 30px);
  }

  @media screen and(max-width: 767px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and(min-width:480px) {
    width: 210px;
  }

  @media screen and(min-width:768px) {
    width: 190px;
  }

  @media screen and(min-width: 1200px) {
    width: 170px;
    margin-top: 0;
    margin-left: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients__icon {
  fill: currentColor;
}

.clients .container {
  @media screen and(min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
